<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://code.alibabatech.com/schema/dubbo
    http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

	<dubbo:application name="simple-dubbo-provider" />

	<bean id="helloService" class="com.zhaoguhong.dubbo.service.impl.HelloServieImpl" />

	<!-- registry="N/A" 不注册到注册中心 -->
	<dubbo:service interface="com.zhaoguhong.dubbo.service.HelloService" ref="helloService" registry="N/A" />

</beans>